<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 mx-auto">
                <div class="card shadow">
                    <div class="card-header">
                        <h2 class="fw-bold text-secondary">
                            <i class="fa-solid fa-circle-user"></i> User Profile
                        </h2>
                    </div>
                    <div class="card-body p-4">
                        <table class="table table-striped">
                            <tr>
                                <th><i class="fa-solid fa-user"></i> Name</th>
                                <th><%= user.name %></th>
                            </tr>
                            <tr>
                                <th><i class="fa-solid fa-envelope"></i> Email</th>
                                <td><%= user.email %></td>
                            </tr>
                            <tr>
                                <th><i class="fa-solid fa-calendar-days"></i> Created At</th>
                                <td><%= user.createdAt %></td>
                            </tr>
                            <tr>
                                <th><i class="fa-solid fa-right-from-bracket"></i> Logout</th>
                                <td>
                                    <form action="/logout" method="post">
                                        <input type="submit" value="logout" class="btn btn-danger btn-sm">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%- include('./partials/footer.ejs') %>